@import "variables.scss";

// article{
//     max-width: $max-content-width;
// }

.blog-content {
    margin-top: 1rem;
}


.flex-center {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 700px) {
    #main-container > .flex-center {
        align-items: center;
    }
}

article  {
    max-width: 700px;
    h1{
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 0.1rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.0rem;
    }

    h6 {
        font-size: 0.85rem;
    }

    footer{
        text-align: start;
    }

}
