@import "variables.scss";
@import "utilities.scss";
@import "mixins.scss";

@font-face {
  font-family: IBMPlexSans;
  src: url('./fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: IBMPlexSans;
  src: url('./fonts/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('./fonts/IBMPlexSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('./fonts/IBMPlexSans-Italic.ttf');
  font-style: italic;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0em 1rem;
  height: 100vh;
  font-family: IBMPlexSans, sans-serif;
  font-size: 1rem;
  color: $light-foreground;
  background-color: $light-background;
}

a {
  @include link-transitions;

  word-wrap: break-word;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: grey;
    * {
      @include link-transitions;
      color: grey;
    }
  }
}

.anchor {
  margin-left: 0.5rem;
  display: none;
}

body > header {
  margin-top: 1rem;
}

// Header styles
header nav * {
  font-size: 1.4rem;
  margin-right: 0.4rem; // &:visited {
  //     color: inherit;
  // }
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-block;
}

h1,
h2 {
  margin: 1.2rem 0;
}

// Main styles
main {
  flex: 1 1 0%;
  padding: 2rem 0;
}

// Footer Styles
footer {
  text-align: center;
  padding-bottom: 1rem;
}

.call-to-action-button, input[type="submit"] {
  @include button-transitions;
  border: solid 1px black;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  display: inline-block;
  text-decoration: none;
  color: $light-foreground;
  &:hover {
    color: $dark-foreground;
    background-color: $dark-background;
  }
  &:active {
    color: $light-foreground;
    background-color: $light-background-secondary;
  }
}

input[type="submit"] {
  background: none;
  padding: 0.125rem 1rem;
}

#bypass-block {
  position: absolute;
  top: 0;
  left: -999px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: 2rem;
  z-index: -2;
  background: gray;
  padding: 1rem 0;
}

#bypass-block:focus,
#bypass-block:focus-visible {
  opacity: 1;
  z-index: 999;
  display: block;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
}

#footer-call-to-actions {
  margin-top: 0.5rem;
}
#emailAddress {
  display: block;
}

.embeddable-buttondown-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.embeddable-buttondown-form span:first-child {
  font-weight: 600;
}

.embeddable-buttondown-form div {
  text-align: left;
  margin-top: 1rem;
}

.embeddable-buttondown-form input[type="email"] {
  border-radius: 0.25rem;
}

#footer-links {
  margin-top: 1rem;
  text-align: center;
}
#footer-links li {
  display: inline-block;
  margin: 0 0.3rem 0.5rem 0.3rem;
}

.pagination {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  margin-top: 4rem;
}

.pagination a {
  padding: 0 0.5rem;
}

.zola-credit {
  margin-top: 0.5rem;
  display: inline-block;
}

.webring-widget {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.webring-widget > a {
  display: inline-block;
  margin: 0 1rem;
  font-weight: 500;
  text-emphasis: center
}

.webring-widget div {
  flex: 1 1 0%;
  display: flex;
}

.webring-widget div:first-child {
  justify-content: flex-end;
}

.webring-widget div:last-child {
  justify-content: flex-start;
}

.site-timestamp {
  display: inline-block;
  margin-top: 1.5rem;
  font-weight: bold;
}
.surrounding-link {
  text-decoration: none;
}

// Make code blocks scrollable and fit the screen
//a any size
pre {
  overflow: auto;
  white-space: pre-wrap;
  display: inline-block;
  padding: 0.75rem;
}

code {
  font-size: 0.75rem;
}

.content-title {
  font-size: 2rem;
  font-weight: 600;
}

.financial-support{
  margin-top: 1rem;
}

// // Desktop Styles
@media only screen and (min-width: 600px) {
  body {
    padding: 0rem 2rem;
  }
}


// Dark Styles
@media (prefers-color-scheme: dark) {
  body {
    color: $dark-foreground;
    background-color: $dark-background;
  }
  .call-to-action-button, input[type="submit"] {
    border-color: $dark-foreground;
    color: $dark-foreground;
    &:hover {
      color: $light-foreground;
      background-color: $light-background;
    }
    &:active {
      color: $dark-foreground;
      background-color: $dark-background-secondary;
    }
  }
}

// Reduced Motion styles (Remove animations)
@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
    &:hover {
      * {
        transition: none;
      }
    }
  }
  .call-to-action-button {
    transition: none;
  }
}
