// Animations
@keyframes waving-hand {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(75deg);
  }
}
// Main styles
main {
  padding: 2rem 1rem;
}

main header {
  margin: 1rem 0;
}

// Desktop Styles
@media only screen and (min-width: 600px) {
  main {
    padding: 2rem 0;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.waving-hand-emoji {
  display: inline-block;
  font-size: 3.2rem;
  animation: 0.4s ease-in-out 6 alternate waving-hand;
}

// Reduced Motion styles (Remove animations)
@media (prefers-reduced-motion: reduce) {
  .waving-hand-emoji {
    animation: none;
  }
}
