@import "variables.scss";
img{
	width: 100%;
	display: block;
}



.post-item{
	margin-bottom: 2rem;
	&:last-child{
		margin-bottom: 0;
	}
}

.post-item .image-link:hover ~ a{
	color: gray;	
}

@media screen and (min-width: 600px){
   
    img{
        width: 520px;
    }

   #main-container{
        max-width: $max-content-width;
    }
}

