// Light Variables
$light-background: #ffffff;
$light-background-secondary:#cccccc;
$light-foreground: #2b2b2b;
$light-foreground-secondary: #575757;

// Dark Variables
$dark-background: #2b2b2b;
$dark-background-secondary: #575757;
$dark-foreground: #ffffff;
$dark-foreground-secondary:#cccccc;

// Size variables
$max-content-width: 600px;